/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fredoka One', cursive;
    font-size: 13px;
}

header{
    color: rgb(226, 23, 104);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}