/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fredoka One', cursive;
    font-size: 13px;
}

/* header */
#main{
    color: rgb(226, 23, 104);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

/* container rules */
.container{
    margin: auto 250px;
    text-align: center;
    min-height: 150px;
    /* DEBUG */
    /* background-color: blue;*/
} 

/* lorem rules */
.lorem::after{
    content: "";
    display: table;
    clear: both;
}

.lorem{
    padding: 40px;
}

/* img rules */
/* clearfix */
section::after{
    content: "";
    display: table;
    clear: both;
}

section img {
    width: 80px;
    float: left;
    vertical-align: middle;
    display: inline-block;
}


/* marco e tutti gli altri */
.person{
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: calc(30%);
    margin: 10px 5px;
    box-shadow: 5px 5px #ede9e9;
}

.role{
    vertical-align: middle;
    padding: 10px;
    line-height: 20px;
}

/* email */
a{
    color: rgb(9, 9, 191);
    text-decoration: none;
}
